<!DOCTYPE html>

<html>
    <head>
        <title>자몽 - 메인</title>
        <link rel="stylesheet" href="/lib/univ.css">
        <script src="/lib/main/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body onload="loader()">
        <h1>과제방 선택</h1>
        <div id="room-selection">
            <a class="a-room" href="https://google.com">
                <div class="room">
                    <h3 class="room-title">와.이.즈.만</h3>
                    <span class="room-msg">송도 와.이.즈.만 2B 과제방</span>
                </div>
            </a>
            <a class="a-room" href="https://google.com">
                <div class="room">
                    <h3 class="room-title">와.이.즈.만</h3>
                    <span class="room-msg">송도 와.이.즈.만 2B 과제방</span>
                </div>
            </a>
        </div>
    </body>
</html>