<!DOCTYPE html>

<html>
    <head>
        <title>자몽 - 결과</title>
        <link rel="stylesheet" href="/lib/univ.css">
        <script src="/lib/main/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <%-include('header.ejs')%>
    </head>
    <body>
        <div style="margin-top: -80px; position: absolute; top: 50vh; width: 100%; left: 0;">
            <h1 style="font-size: 4em; "><%=msg%></h1>
        </div>
    </body>
</html>