<!DOCTYPE html>

<html>
    <head>
        <title>자몽 - 메인</title>
        <link rel="stylesheet" href="/lib/univ.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/lib/main/main.js"></script>
    </head>
    <body onload="loader()">
        <h1>과제방 선택</h1>
        <div id="room-selection">
            <div id="room-region"></div>
            <div class="room-free" style="text-align: center; margin-bottom: 10px;">
                <div style="display: inline-block; width: 60%; margin-bottom: 10px;">
                    <input type="text" id="searchq" style="margin: 0; border-radius: 7px 0 0 7px;">
                    <button class="type-2" onclick="search()">검색</button>
                </div>
                <div id="search-result">
                    <div id="search-res" style="text-align: left;">

                    </div>
                    <span id="search-error-display"></span>
                </div>
            </div>
        </div>
    </body>
</html>